In [16]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 482 kB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [30]:
import pandas as pd
import pymysql

### 1. extract records (rows)

#### 1.1 area_table

In [31]:
area = pd.read_csv('area.csv')
area

   store_id   area  leader_id
0    store1  alpha     139844
1    store2  alpha      44311
2    store3  alpha     951837
3    store4  alpha     298987
4    store5   beta     774548
5    store6   beta     974663
6    store7   beta     550242
7    store8   beta     735906
8    store9   beta     813931
9   store10   beta     269966
10  store11   beta     442066
11  store12  gamma      52404
12  store13  gamma     250697
13  store14  gamma     733530
14  store15  gamma     356103
15  store16  gamma     770287

In [32]:
area_records = area.to_records(index=False).tolist()
area_records

[('store1', 'alpha', 139844),
 ('store2', 'alpha', 44311),
 ('store3', 'alpha', 951837),
 ('store4', 'alpha', 298987),
 ('store5', 'beta', 774548),
 ('store6', 'beta', 974663),
 ('store7', 'beta', 550242),
 ('store8', 'beta', 735906),
 ('store9', 'beta', 813931),
 ('store10', 'beta', 269966),
 ('store11', 'beta', 442066),
 ('store12', 'gamma', 52404),
 ('store13', 'gamma', 250697),
 ('store14', 'gamma', 733530),
 ('store15', 'gamma', 356103),
 ('store16', 'gamma', 770287)]

#### 1.2 store_table

In [50]:
store = pd.read_csv('store.csv')
store

   store_id  order_id  sales_volume salesdate
0    store8  89948724           499   25/6/21
1    store1  89948725           617   25/6/21
2    store9  89948726           569   25/6/21
3    store3  89948727           579   25/6/21
4    store1  89948728            76   25/6/21
..      ...       ...           ...       ...
92   store1  89948816            43    6/7/21
93   store4  89948817           720    6/7/21
94   store2  89948818           163    6/7/21
95   store8  89948819           663    6/7/21
96   store6  89948820            23    6/7/21

[97 rows x 4 columns]

In [51]:
def date_formatting(date_str):
    d, m, y = date_str.split('/')[0],  date_str.split('/')[1],  date_str.split('/')[2]
    if len(d) == 1:
        d = "0" + d
    if len(m) == 1:
        m = "0" + m
    formatted = '20'+y+'-'+m+'-'+d
    return formatted

In [52]:
date_formatting('6/7/21')

'2021-07-06'

In [54]:
store['salesdate'] = store['salesdate'].apply(date_formatting)

In [55]:
store

   store_id  order_id  sales_volume   salesdate
0    store8  89948724           499  2021-06-25
1    store1  89948725           617  2021-06-25
2    store9  89948726           569  2021-06-25
3    store3  89948727           579  2021-06-25
4    store1  89948728            76  2021-06-25
..      ...       ...           ...         ...
92   store1  89948816            43  2021-07-06
93   store4  89948817           720  2021-07-06
94   store2  89948818           163  2021-07-06
95   store8  89948819           663  2021-07-06
96   store6  89948820            23  2021-07-06

[97 rows x 4 columns]

In [56]:
store_records = store.to_records(index=False).tolist()
store_records  # with datetime format revised

[('store8', 89948724, 499, '2021-06-25'),
 ('store1', 89948725, 617, '2021-06-25'),
 ('store9', 89948726, 569, '2021-06-25'),
 ('store3', 89948727, 579, '2021-06-25'),
 ('store1', 89948728, 76, '2021-06-25'),
 ('store7', 89948729, 228, '2021-06-25'),
 ('store2', 89948730, 557, '2021-06-26'),
 ('store6', 89948731, 177, '2021-06-26'),
 ('store10', 89948732, 18, '2021-06-26'),
 ('store7', 89948733, 309, '2021-06-26'),
 ('store1', 89948734, 984, '2021-06-26'),
 ('store1', 89948735, 999, '2021-06-26'),
 ('store1', 89948736, 163, '2021-06-26'),
 ('store1', 89948737, 206, '2021-06-26'),
 ('store5', 89948738, 977, '2021-06-26'),
 ('store6', 89948739, 884, '2021-06-26'),
 ('store1', 89948740, 185, '2021-06-26'),
 ('store2', 89948741, 37, '2021-06-27'),
 ('store3', 89948742, 565, '2021-06-27'),
 ('store3', 89948743, 295, '2021-06-27'),
 ('store6', 89948744, 985, '2021-06-27'),
 ('store8', 89948745, 874, '2021-06-27'),
 ('store4', 89948746, 837, '2021-06-27'),
 ('store2', 89948747, 754, '2021-06-27'),
 ('store2', 89948748, 167, '2021-06-28'),
 ('store9', 89948749, 81, '2021-06-28'),
 ('store1', 89948750, 648, '2021-06-28'),
 ('store4', 89948751, 651, '2021-06-28'),
 ('store10', 89948752, 616, '2021-06-28'),
 ('store7', 89948753, 643, '2021-06-28'),
 ('store3', 89948754, 654, '2021-06-28'),
 ('store10', 89948755, 185, '2021-06-28'),
 ('store5', 89948756, 2, '2021-06-28'),
 ('store5', 89948757, 448, '2021-06-29'),
 ('store6', 89948758, 732, '2021-06-29'),
 ('store4', 89948759, 112, '2021-06-29'),
 ('store10', 89948760, 893, '2021-06-29'),
 ('store10', 89948761, 665, '2021-06-29'),
 ('store10', 89948762, 301, '2021-06-29'),
 ('store5', 89948763, 161, '2021-06-30'),
 ('store6', 89948764, 268, '2021-06-30'),
 ('store3', 89948765, 84, '2021-06-30'),
 ('store2', 89948766, 636, '2021-06-30'),
 ('store5', 89948767, 789, '2021-06-30'),
 ('store7', 89948768, 920, '2021-06-30'),
 ('store10', 89948769, 930, '2021-06-30'),
 ('store3', 89948770, 518, '2021-06-30'),
 ('store5', 89948771, 970, '2021-06-30'),
 ('store9', 89948772, 762, '2021-07-01'),
 ('store10', 89948773, 9, '2021-07-01'),
 ('store9', 89948774, 194, '2021-07-01'),
 ('store9', 89948775, 253, '2021-07-01'),
 ('store7', 89948776, 723, '2021-07-01'),
 ('store7', 89948777, 911, '2021-07-01'),
 ('store8', 89948778, 335, '2021-07-01'),
 ('store1', 89948779, 7, '2021-07-02'),
 ('store6', 89948780, 368, '2021-07-02'),
 ('store1', 89948781, 948, '2021-07-02'),
 ('store5', 89948782, 855, '2021-07-02'),
 ('store6', 89948783, 870, '2021-07-02'),
 ('store3', 89948784, 189, '2021-07-02'),
 ('store9', 89948785, 132, '2021-07-02'),
 ('store8', 89948786, 137, '2021-07-02'),
 ('store1', 89948787, 728, '2021-07-02'),
 ('store5', 89948788, 376, '2021-07-03'),
 ('store8', 89948789, 882, '2021-07-03'),
 ('store7', 89948790, 187, '2021-07-03'),
 ('store2', 89948791, 489, '2021-07-03'),
 ('store3', 89948792, 639, '2021-07-03'),
 ('store1', 89948793, 558, '2021-07-03'),
 ('store3', 89948794, 487, '2021-07-03'),
 ('store2', 89948795, 719, '2021-07-04'),
 ('store9', 89948796, 652, '2021-07-04'),
 ('store9', 89948797, 703, '2021-07-04'),
 ('store6', 89948798, 340, '2021-07-04'),
 ('store7', 89948799, 510, '2021-07-04'),
 ('store8', 89948800, 701, '2021-07-04'),
 ('store1', 89948801, 52, '2021-07-04'),
 ('store1', 89948802, 59, '2021-07-05'),
 ('store3', 89948803, 325, '2021-07-05'),
 ('store4', 89948804, 665, '2021-07-05'),
 ('store1', 89948805, 45, '2021-07-05'),
 ('store2', 89948806, 268, '2021-07-05'),
 ('store6', 89948807, 42, '2021-07-05'),
 ('store2', 89948808, 264, '2021-07-05'),
 ('store10', 89948809, 17, '2021-07-05'),
 ('store5', 89948810, 83, '2021-07-05'),
 ('store9', 89948811, 199, '2021-07-05'),
 ('store1', 89948812, 20, '2021-07-05'),
 ('store8', 89948813, 26, '2021-07-05'),
 ('store1', 89948814, 125, '2021-07-06'),
 ('store2', 89948815, 317, '2021-07-06'),
 ('store1', 89948816, 43, '2021-07-06'),
 ('store4', 89948817, 720, '2021-07-06'),
 ('store2', 89948818, 163, '2021-07-06'),
 ('store8', 89948819, 663, '2021-07-06'),
 ('store6', 89948820, 23, '2021-07-06')]

### 2. Connect to MySQL server

In [23]:
connect = pymysql.connect(host='localhost', 
                          user='root', 
                          passwd='Chouchou186', 
                          database='homework_20210707')
mycursor = connect.cursor()

for row in area_records:
    sql = 'INSERT INTO area_table (store_id, area, leader_id) VALUES ("{0}", "{1}", {2})'.format(row[0], row[1], row[2])
    print(sql)
    mycursor.execute(sql)
connect.commit()

INSERT INTO area_table (store_id, area, leader_id) VALUES ("store1", "alpha", 139844)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store2", "alpha", 44311)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store3", "alpha", 951837)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store4", "alpha", 298987)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store5", "beta", 774548)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store6", "beta", 974663)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store7", "beta", 550242)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store8", "beta", 735906)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store9", "beta", 813931)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store10", "beta", 269966)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store11", "beta", 442066)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store12", "gamma", 52404)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store13", "gamma", 250697)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store14", "gamma", 733530)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store15", "gamma", 356103)
INSERT INTO area_table (store_id, area, leader_id) VALUES ("store16", "gamma", 770287)

In [58]:
# connect = pymysql.connect(host='localhost', 
#                           user='root', 
#                           passwd='Chouchou186', 
#                           database='homework_20210707')
# mycursor = connect.cursor()

for row in store_records:
    sql = 'INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("{0}", "{1}", {2}, "{3}")'.format(row[0], row[1], row[2], row[3])
    print(sql)
    mycursor.execute(sql)

connect.commit()

INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948724", 499, "2021-06-25")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948725", 617, "2021-06-25")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948726", 569, "2021-06-25")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948727", 579, "2021-06-25")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948728", 76, "2021-06-25")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948729", 228, "2021-06-25")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948730", 557, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948731", 177, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948732", 18, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948733", 309, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948734", 984, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948735", 999, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948736", 163, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948737", 206, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948738", 977, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948739", 884, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948740", 185, "2021-06-26")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948741", 37, "2021-06-27")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948742", 565, "2021-06-27")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948743", 295, "2021-06-27")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948744", 985, "2021-06-27")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948745", 874, "2021-06-27")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store4", "89948746", 837, "2021-06-27")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948747", 754, "2021-06-27")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948748", 167, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948749", 81, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948750", 648, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store4", "89948751", 651, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948752", 616, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948753", 643, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948754", 654, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948755", 185, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948756", 2, "2021-06-28")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948757", 448, "2021-06-29")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948758", 732, "2021-06-29")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store4", "89948759", 112, "2021-06-29")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948760", 893, "2021-06-29")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948761", 665, "2021-06-29")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948762", 301, "2021-06-29")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948763", 161, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948764", 268, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948765", 84, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948766", 636, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948767", 789, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948768", 920, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948769", 930, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948770", 518, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948771", 970, "2021-06-30")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948772", 762, "2021-07-01")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948773", 9, "2021-07-01")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948774", 194, "2021-07-01")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948775", 253, "2021-07-01")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948776", 723, "2021-07-01")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948777", 911, "2021-07-01")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948778", 335, "2021-07-01")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948779", 7, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948780", 368, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948781", 948, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948782", 855, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948783", 870, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948784", 189, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948785", 132, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948786", 137, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948787", 728, "2021-07-02")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948788", 376, "2021-07-03")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948789", 882, "2021-07-03")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948790", 187, "2021-07-03")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948791", 489, "2021-07-03")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948792", 639, "2021-07-03")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948793", 558, "2021-07-03")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948794", 487, "2021-07-03")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948795", 719, "2021-07-04")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948796", 652, "2021-07-04")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948797", 703, "2021-07-04")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948798", 340, "2021-07-04")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store7", "89948799", 510, "2021-07-04")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948800", 701, "2021-07-04")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948801", 52, "2021-07-04")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948802", 59, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store3", "89948803", 325, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store4", "89948804", 665, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948805", 45, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948806", 268, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948807", 42, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948808", 264, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store10", "89948809", 17, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store5", "89948810", 83, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store9", "89948811", 199, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948812", 20, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948813", 26, "2021-07-05")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948814", 125, "2021-07-06")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948815", 317, "2021-07-06")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store1", "89948816", 43, "2021-07-06")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store4", "89948817", 720, "2021-07-06")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store2", "89948818", 163, "2021-07-06")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store8", "89948819", 663, "2021-07-06")
INSERT INTO store_table (store_id, order_id, sales_volume, salesdate) VALUES ("store6", "89948820", 23, "2021-07-06")

In [59]:
# close
mycursor.close()
connect.close()